html,
body {
  margin: 0;
  padding: 0;
}

html{
	overflow-y: scroll;
}

body{
	background-image: url("background.jpg");
	background-size: cover;
	font-family: 'Lato', sans-serif;
	cursor: default;
	text-align: center;
	height:100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1{
  font-size: 40pt;
  text-transform: uppercase;
  padding-bottom: 2px;
  margin-top: 16px;
}

h2{
	font-size: 24pt;
}

.tittle{
	color:yellow;
}

.game{
	position:relative;
	vertical-align:middle;
	text-align:center;
}

.game a{
	display: inline-table;
	margin: 10px;
	border: 2px solid lightblue;
	padding: 10px;
	text-decoration: none;
	vertical-align:middle;
	color:black;
	position:relative;
}
